.nav-item {
  margin: 0;
  padding: 0 10px;
  right: 0;
}

.page-header {
  position: relative;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  background-image: url('./assets/pics/movie-collection.jpeg');
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.overlay-gradient {
  background: linear-gradient(to bottom, #a11f3c 0%, #9352b3 100%);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

header h1 {
  color: #fff;
}

.movie-box {
  background: #fff;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 40px 0 rgb(52 58 64 / 10%);
  -moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, 0.1);
  box-shadow: 10px 10px 40px 0 rgb(52 58 64 / 10%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 30px 0px;
}

.movie-box:hover {
  transform: translate(0, -13px);
}

.movie-box i {
  color: #ffc741;
}

.listing-image {
  max-height: 350px;
  overflow: hidden;
}

.title {
  padding: 0 0 30px 0;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.listing-content {
  position: relative;
  padding: 10px 30px 30px 30px;
}

.text-muted {
  font-size: 14px;
  color: #999999 !important;
}

.mark-btn {
  position: absolute;
  top: -15px;
  right: 30px;
  background: #9352b3;
  color: #fff;
  border: #9352b3;
}

.button-movie {
  background: #9352b3;
  color: #fff;
  border: #9352b3;
  padding: 0 15px;
  position: relative;
  line-height: 35px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.button-movie:hover {
  background: #9352b3 !important;
}

footer.footer.bg-dark .footer-copyright-area {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer.bg-dark {
  color: #fff;
  background-color: #3e4555 !important;
}

footer h4 {
  margin-bottom: 1.7rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #9352b3;
}

footer h4 {
  color: #fff !important;
  font-size: 24px;
  font-weight: 600;
}

.footer-widget-area {
  padding: 100px 0;
}

.footer-widget-area ul {
  list-style: none;
  padding: 0;
}

.tp_recent_tweets li {
  background-image: url('./assets/pics/tweet.png');
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 20px;
  list-style-type: none;
}

.links {
  display: flex !important;
}

.copyright {
  margin-left: auto;
}
.nav-link {
  color: #9352b3;
}
.general-search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  height: 60px;
  background: #fff;
  padding: 0 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.general-search-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.general-search-wrapper .general-search {
  position: relative;
}

.general-search-wrapper .general-search .toggle-search {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 60px;
  cursor: pointer;
  color: #666;
}

.general-search-wrapper .general-search input {
  height: 60px;
  border: 0;
  font-size: 30px;
  width: 100%;
  padding: 10px 20px;
  color: #666;
  border-radius: 5px;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-numbers {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  text-decoration: none;
  color: #212529;
}

.current {
  color: #fff;
}

.pagination ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
  padding: 0;
}

ul.page-numbers span.page-numbers.current {
  background: #9352b3;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
